[Unit]
Description=Bluetooth controller reset
Before=bluetooth.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/bluetooth-reset.sh

[Install]
RequiredBy=bluetooth.service
